@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 425px;
  }
}

@media (max-width: 425px) {
  .container {
    width: 100%;
  }

  #header h1 span:after {
      content: '\A';
      white-space: pre;
  }
}