:root {
  --color-1: #181818;
  --color-2: #ffffff;
  --color-3: #4d4837;
  --font-family-1: 'Raleway', sans-serif;
  --font-family-2: 'Lato', sans-serif;
  --shadow: 0 0 5px 0 black;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-2);
  color: var(--color-2);
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-1);
}

.title {
  font-family: var(--font-family-1);
  font-weight: 300;
  letter-spacing: 8px;
  text-transform: uppercase;
}

h2.title {
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
}

h3.title,
h4.title {
  letter-spacing: 4px;
  font-size: 20px;
}

.small {
  font-size: 12px;
}

.color-3 {
  color: var(--color-3);
  font-family: var(--font-family-1);
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {  
  width: 1024px;
  min-height: calc(90vh - 80px);
  border-top: 4px solid var(--color-3);
  overflow-wrap: anywhere;
}
section .container {
  margin-top: 30px;
  min-height: calc(100vh - 30px - 80px);
}

#header {
  width: 100%;
  min-height: calc(100vh - 80px);
}

#header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid var(--color-3);
}

#header img {
  width: 200px;
}

#header h1,
#header h1 span {
  font-size: 30px;
  margin: 35px 0 55px;
}

#header p {
  font-family: var(--font-family-2);
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

#menu {
  z-index: 10;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-1) url("../img/bg-patern.png");
  box-shadow: var(--shadow);
}

#menu .container {
  min-height: initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

#menu p {
  font-size: 16px;
  letter-spacing: 4px;
}

#menu p span:after {
  content: '\A';
  white-space: pre;
}

#menu ul {
  width: 700px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#menu ul li a {
  transition: 300ms;
}

#menu ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  margin: 0 auto;
  background-color: var(--color-3);
  transition: 300ms;
}

#menu ul li a:hover::after {
  width: 100%;
}

#menu .social-media {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

#menu .social-media .social-icon {
  width: 20px;
  height: 20px;
}

#menuBtn {
  display: none;
  width: 40px;
  background: none;
  outline: none;
  border: none;
}

#team {
  min-height: calc(100vh - 80px);
}

#team #team-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#team .team-card {
  text-align: center;
  line-height: 25px;
  width: 19%;
  margin-bottom: 10px;
}

#team .team-card .img {
  position: relative;
}

#team .team-card .img .photo {
  width: 100%;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

#team .team-card .img .flag {
  z-index: 1;
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 25%;
}

#team .team-card h3 {
  font-size: 18px;
  letter-spacing: 2px;
}

#team .team-card h3 span:after {
  content: '\A';
  white-space: pre;
}

#team .team-card p {
  font-size: 14px;
}

#music #music-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#music iframe {
  width: 30%;
  margin-bottom: 30px;
  box-shadow: var(--shadow);
}

#videos #videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#videos iframe {
  width: 30%;
  height: 200px;
  margin-bottom: 30px;
  box-shadow: var(--shadow);
}

#prices #prices-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#prices .price-card {
  width: 22%;
}

#prices .price-card h3 {
  /* height: 80px; */
  margin-bottom: 20px;
}

#prices .price-card ul {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#prices .price-card li {
  width: 100%;
  text-align: left;
  font-size: 14px;
}

#prices .price-card h4 {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

#prices .price-card a {
  display: block;
  background-color: var(--color-3);
  opacity: 0.5;
  text-align: center;
  height: 50px;
  line-height: 50px;
  transition: 300ms;
}

#prices .price-card a:hover {
  opacity: 1;
}

#prices .container > small {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 40px;
}

#contact #contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact .info {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#contact .info h3 {
  width: 100%;
}

#contact .info p {
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
}

#contact .social-media {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

#contact .social-media .social-icon {
  width: 50px;
  height: 50px;
}

#contact iframe {
  height: 350px;
  width: 65%;
}

#contact footer {
  margin-top: 40px;
  text-align: center;
  bottom: 20px;
}

#contact footer a:hover {
  text-decoration: underline;
}

#end-space {
  height: 80px;
}