:root {
  --color-1: #181818;
  --color-2: #ffffff;
  /* --color-3: #6a6144; */
  --color-3: #4d4837;
  --font-family-1: 'Raleway', sans-serif;
  --font-family-2: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color-2);
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-1);
}

span.color-3 {
  color: var(--color-3);
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  border-top: 4px solid var(--color-3);
  border-bottom: 4px solid var(--color-3);
  overflow-wrap: anywhere;
}

#container img {
  width: 120px;
}

#container h1,
#container h1 span {
  font-family: var(--font-family-1);
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin: 35px 0 55px;
}

#container p {
  font-family: var(--font-family-2);
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

@media (max-width: 425px) {
  #container h1 span:after {
      content: '\A';
      white-space: pre;
  }
}