/* LAPTOP */

@media (max-width: 1024px) {
  .container {
    min-width: 768px;
  }

  #videos iframe {
    height: 180px;
  }

  #contact iframe {
    width: 60%;
  }
}

/* TABLET */

@media (max-width: 768px) {
  .container {
    min-width: 425px;
  }

  #menu p {
    width: 125px;
  }
  
  #menu #menu-list {
    z-index: 10;
    position: fixed;
    bottom: 80px;
    left: 100vw;
    height: calc(100vh - 2 * 80px);
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("../img/bg-patern.png");
    background-color: var(--color-1);
    box-shadow: var(--shadow);
  }
  
  #menu #menu-list li {
    display: block;
    width: 100%;
  }
  
  #menu #menu-list li a {
    width: 100%;
    font-size: 16px;
    display: block;
    height: calc((100vh - 2 * 80px)/6);
    width: 100%;
    text-align: center;
    line-height: calc((100vh - 2 * 80px)/6);;
  }

  #menu ul li a:hover::after {
    width: 0;
  }

  #menu .social-media {
    width: 120px;
  }

  #menu .social-media .social-icon {
    width: 30px;
    height: 30px;
  }

  #menu span:not(.color-3) {
    display: block;
    width: 125px;
  }

  #menu #menuBtn {
    transition: 300ms;
    margin-left: auto;
    background: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    display: block;
    outline: none;
    border: none;
    position: 0 0;
    width: 30px;
    height: 30px;
  }

  #team .team-card {
    width: 30%;
  }

  #music iframe {
    width: 47%;
  }

  #videos iframe {
    width: 47%;
    height: 200px;
  }
  
  #prices .price-card {
    width: 45%;
  }

  #prices .price-card a {
    opacity: 1;
  }

  #prices .container > small {
    margin-top: 0;
  }

  #contact #contact-container {
    display: block;
  }

  #contact .info {
    height: auto;
    display: block;
    margin-bottom: 20px;
  }

  #contact .social-media {
    display: none;
  }

  #contact iframe {
    width: 100%;
  }

  #contact footer {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* MOBILE */

@media (max-width: 425px) {
  .container,
  #header .container {
    min-width: 0;
    width: 100%;
    border: none;
  }

  section .container {
    margin-top: 0;
  }

  #header p {
    font-size: 12px;
  }

  #header h1 span:after {
      content: '\A';
      white-space: pre;
  }

  #menu p {
    display: none;
  }

  #team .team-card {
    width: 45%;
  }
  
  #music #music-container,
  #videos #videos-container,
  #prices #prices-container,
  #contact #contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu .container,
  #music iframe,
  #videos iframe,
  #prices .price-card,
  #prices .container > small,
  #contact .info,
  #contact iframe,
  #contact footer {
    width: 90%;
  }

  #prices .container > small {
    margin: 0 auto;
  }

  #contact footer {
    margin: 10px auto;
  }
}